<!DOCTYPE html>

<html lang="en" class="no-js">

<head>
  {% load static %}
  <meta charset="utf-8"/>
  <title>Steps</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta content="steps" name="description"/>
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/comparator.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
  <link href="{% static 'app/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'app/css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'app/css/swiper.min.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'app/css/layout.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'app/css/bot.css' %}" rel="stylesheet" type="text/css"/>


  <script src="{% static 'app/js/chart.min.js' %}" type="text/javascript"></script>

  <link rel="shortcut icon" href="favicon.ico"/>
  <link rel="stylesheet" href="{% static 'app/css/footer-distributed-with-address-and-phones.css' %}">
</head>

{% block content %}{% endblock %}   

  <!-- CORE PLUGINS -->
  <script src="{% static 'app/js/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'app/js/jquery-migrate.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'app/js/bootstrap.min.js' %}" type="text/javascript"></script>

  <!-- PAGE LEVEL PLUGINS -->
  <script src="{% static 'app/js/jquery.easing.js' %}" type="text/javascript"></script>
  <script src="{% static 'app/js/jquery.back-to-top.js' %}" type="text/javascript"></script>
  <script src="{% static 'app/js/jquery.smooth-scroll.js' %}" type="text/javascript"></script>
  <script src="{% static 'app/js/jquery.wow.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'app/js/swiper.jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'app/js/jquery.masonry.pkgd.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'app/js/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>

  <!-- PAGE LEVEL SCRIPTS -->
  <script src="{% static 'app/js/layout.js' %}" type="text/javascript"></script> 
  <script src="{% static 'app/js/bot.js' %}" type="text/javascript"></script>
  <script src="{% static 'app/js/wow.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'app/js/swiper.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'app/js/masonry.min.js' %}" type="text/javascript"></script>

   {% block script %}{% endblock %}

</html>