<!DOCTYPE html>
<html>
<head>
	<title>S.T.E.P.S</title>
	<link rel="stylesheet" type="text/css" href="./comparator.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
 	
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>
<h2> Compare Startups</h2>
<div class="comparator_name" style="display: flex;">
	<input type="text" placeholder="Name of Incubator">
	<input type="text" placeholder="Name of Incubator">
	<button>compare</button>
</div>
<div class="pricingdiv">
	<ul class="theplan">
		<li class="title"><b>Incubator 1</b><br /> Name_Incubator</li>
		<li><b>Chair Person:</b> name of admin</li>
		<li><b>Achievements</b> kuch bhi</li>
		<li><b>Location</b> location</li>
		<li><b>Field of Expertise</b> science</li>
		<li><b>No. of Employes</b> 10 </li>
		<li><b>No. of startup incubated</b> 15</li>
		<li><a class="pricebutton" href="http://ergonomictrends.com/best-ergonomic-office-chairs-under-300-reviews/" target="_blank" rel="nofollow"><span class="icon-tag"></span> View Profile</a></li>
	</ul>

	<ul class="theplan">
		<li class="title"><b>Incubator 1</b><br /> Name_Incubator</li>
		<li><b>Chair Person:</b> name of admin</li>
		<li><b>Achievements</b> kuch bhi</li>
		<li><b>Location</b> location</li>
		<li><b>Field of Expertise</b> science</li>
		<li><b>No. of Employes</b> 10 </li>
		<li><b>No. of startup incubated</b> 15</li>
		<li><a class="pricebutton" href="http://ergonomictrends.com/best-ergonomic-office-chairs-under-300-reviews/" target="_blank" rel="nofollow"><span class="icon-tag"></span> View Profile</a></li>
	</ul>

</div>

</body>
</html>