
{% extends 'app/base.html' %}
{% block content %}
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/dashboard.css' %}">
<div class="profile">
  <div class="cover-image col-sm-12 generic-back">
  </div>
  <div class="activitybar col-sm-12 ">
    <div class="col-sm-offset-2 page-heading">
      <h3 >Incubated Startups</h3>
    </div>
</div>
  </div>
<div class="container-dash row col-sm-12">
 <div class="profile col-sm-2 mock_div">
  <div class="profile-image"><img src="{{user.userprofile.image.url}}" /></div>
  <div class="profile-data">
   <h4> {{user.username}} </h4>
   <p>{{user.userprofile.gender}}</p>
 </div>
</div>

  	<!--dashboard -->
  	<div class="dashboard col-sm-5 mock_div">
  		<h2>Incubators</h2>
  		<!-- incubator image cards here -->
  		<div class="incubators">
        {% for incubator in incubators %}
        <a href="/profile/{{incubator.user.username}}">
  			<div class="card " style="width:250px;" data-toggle="tooltip" title="View Profile">
  				<img class="card-img-top" src="{% static 'app/img/profile.jpg' %}" alt="Card image">
  				<div class="card-body">
  					<h5 class="card-title"> {{incubator.name}}</h5>
  					<p class="card-text">{{incubator.short_description}}</p>
  				</div>
  			</div>
        </a>
        {% endfor %}
        <a href="{% url 'app:incubator_request' %}">
        <div class="card" style="width:250px; display: flex; flex-direction: column; align-items: center;" data-toggle="tooltip" title="Register Incubator">
          <img class="card-img-top" src="http://icons.iconarchive.com/icons/iconsmind/outline/512/Add-icon.png" alt="Card image" style="width: 100px;height: auto;">
          <div class="card-body">
          <h4 class="card-title">Register your Incubator</h4>
          <p class="card-text">Experience the ocean of oppurtunities ahead.</p>
        </div>
        </div>
        </a>
  		</div>
  		<hr>

  		<h2>StartUps</h2>
  		<!-- startup image card goes here -->
  		<div class="startups">
        {% for x in startups %}
        <a href="/profile/{{x.user.username}}">
  			<div class="card " style="width:250px;" data-toggle="tooltip" title="View Profile">
  				<img class="card-img-top" src="{% static 'app/img/profile.jpg' %}" alt="Card image">
  				<div class="card-body">
  					<h5 class="card-title"> {{x.name}}</h5>
  					<p class="card-text">{{x.short_description}}</p>
  				</div>
  			</div>
        </a>
        {% endfor %}
        <a href="{% url 'app:startup_request' %}">
        <div class="card" style="width:250px; display: flex; flex-direction: column; align-items: center;" data-toggle="tooltip" title="Register Startup">
          <img class="card-img-top" src="http://icons.iconarchive.com/icons/iconsmind/outline/512/Add-icon.png" alt="Card image" style="width: 100px;height: auto;">
          <div class="card-body">
          <h4 class="card-title">Register your StartUp</h4>
          <p class="card-text">Experience the ocean of oppurtunities ahead.</p>
        </div>
        </div>
        </a>
  		</div>
  	</div>

<!-- newsfeed -->
<div class="newsfeed col-sm-3 mock_div">
  <h2>NewsFeed</h2>
  <div class="news">
   <!-- newsfeed card goes here -->
   {% for x in feed %}
   <div class="newscard" data-toggle="tooltip" title=" Learn More">
    <div class="newscard-image col-sm-offset-1" >
    </div>
    <div class="newscard-body col-sm-offset-1">
     <h6 class="newscard-title">{{x.title}}</h6>
     <p class="newscard-text">{{ x.value }}</p>
   </div>
 </div>
 <br>
 {% endfor %}
</div>
</div>
</div>

<div class="giffy-container">
  <img src="{% static 'app/img/giphy.gif' %}">
</div>
<div class="bot-container">
  <div class="chat_window"><div class="top_menu"><div class="buttons"><div class="button close btn-close"></div></div><div class="title">Chat</div></div><ul class="messages"></ul><div class="bottom_wrapper clearfix"><div class="message_input_wrapper"><input class="message_input" placeholder="Type your message here..." /></div><div class="send_message"><div class="icon"></div><div class="text">Send</div></div></div></div><div class="message_template"><li class="message"><div class="avatar"></div><div class="text_wrapper"><div class="text"></div></div></li></div>
</div>    

</body>
{% endblock content %}

{% block script %}
<script>
  $(document).ready(function(){
    $('.giffy-container').click(function(){
      $('.bot-container').show();
      $('.giffy-container').hide();
    });

    $('.btn-close').click(function(){
      $('.bot-container').hide();
      $('.giffy-container').show();
    });
  });
</script>

<script type="text/javascript">
  var acc = document.getElementsByClassName("newscard");
  var i;
  for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function() {
      var bool=false;
      if (this.classList.contains("newscard-active") == true){
        bool=true;
      }
      for (j = 0; j < acc.length; j++){
        if (acc[j].classList.contains("newscard-active")){
          acc[j].classList.toggle("newscard-active");
          var panelOpen = acc[j].nextElementSibling;
          if (panelOpen.style.maxHeight){
            panelOpen.style.maxHeight = null;
          } else {
            panelOpen.style.maxHeight = panelOpen.scrollHeight + "px";
          }
        }
      }
      var panel = this.nextElementSibling;
      this.classList.toggle("newscard-active");
      if (panel.style.maxHeight){
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
      if (bool == true){
        this.classList.toggle("newscard-active");
        if (panel.style.maxHeight){
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      }
    }
  }
</script>

{% endblock %}
