{% extends 'app/base.html' %}
{% block content %}
{% load static%}

<link rel="stylesheet" type="text/css" href="{% static 'app/css/leaderboard.css' %}">

<style>
  #map{
  height: 60vh;
  margin-bottom: 50px;
  border-radius: 2px;
  margin-top: 10px;
  box-shadow:  0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
 }
</style>

<div class="profile">
  <div class="cover-image col-sm-12 generic-back">
  </div>
  <div class="activitybar col-sm-12 ">
    <div class="col-sm-offset-2 page-heading">
      <h3 >Incubated Startups</h3>
    </div>
  </div>
</div>

 <section class="content" >
  <div class="ui container col-sm-6 col-sm-offset-3" style="box-shadow:  0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02); top:60px; background-color: white; margin-bottom: 50px; color:#0D1825; padding-bottom: 10px;">
    <div class="ui grid">


      <div class="twelve wide column">
        <div class="distinguishedForm">
          {% if status != 'Success' %}
          <form method="post" action="" enctype="multipart/form-data" class="ui form">
            {% csrf_token %}
            <div style="text-align:center">
              <h3>Details of Incubator</h3>
            </div>
            {% for field in form %}
            <div class="field" style="display: flex;flex-direction: column;">
              {% for error in field.errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
              {% endfor %}
              <label for="{{ field.auto_id }}">{{ field.label_tag }}
              </label>
              {{ field }}
            </div>
            {% endfor %}
            {% for field in locationform %}
            <div class="field" style="display: flex;flex-direction: column;">
              {% for error in field.errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
              {% endfor %}
              <label for="{{ field.auto_id }}">{{ field.label_tag }}
              </label>
              {{ field }}
            </div>
            {% endfor %}
            <p>Click on the map to enter the current location of your Organization.</p>
            <div id="map" class="col-sm-8 col-sm-offset-2"></div>
            <br/><br/>
            <br/><hr/><br/>
            <div style="text-align:center">
              <h3>Certification Certificate</h3>
            </div>
            {% for field in fileform %}
            <div class="field" style="display: flex;flex-direction: column;">
              {% for error in field.errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
              {% endfor %}
              <label for="{{ field.auto_id }}">{{ field.label_tag }}
              </label>
              {{ field }}
            </div>
            {% endfor %}
            <br/>
            <input type="checkbox" name="knowledge" value="knowledge" required>&nbsp&nbspI affirm that the information provided here is true to the best of my knowledge and should an information be found untrue, the nomination may be cancelled.
            <br/><br/>
            <button class="btn btn-info distinguishedSubmit" type="submit">Submit</button>
          </form>
          {% else %}
          Successfully submitted the form
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  </section>
{% endblock content %}
{% block script %}
  <script>
    var map;
    function initMap(){
      myLatLng = {lat:28.7041, lng:77.1025};
      map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        zoom: 8,
        disableDefaultUI: true,
        zoomControl: true
      });
    
      google.maps.event.addListener(map, "click", function (e) {
      var latLng = e.latLng;
      var lat = e.latLng.lat();
      var lng = e.latLng.lng();
      document.getElementById('id_latitude').value = lat.toFixed(6);
      document.getElementById('id_longitude').value = lng.toFixed(6);
      });
/*
try search feature
      var input = document.getElementById('pac-input');
      var searchBox = new google.maps.places.SearchBox(input);
      map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

      map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });
  */
    }
  </script>
{% endblock %}
