{% extends 'app/base.html' %}
{% block content %}
{% load static%}

<body id="body" data-spy="scroll" data-target=".header">


  <header class="header navbar-fixed-top">
    <nav class="navbar" role="navigation">
      <div class="container">
        <div class="menu-container js_nav-item">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="toggle-icon"></span>
          </button>

          <div class="logo">
            <a class="logo-wrap" href="#body">
              <img class="logo-img logo-img-main" src="{% static 'app/img/logofinal.png' %}" alt="FlameOnePage Logo">
              <img class="logo-img logo-img-active" src="{% static 'app/img/logofinal.png' %}" alt="FlameOnePage Dark Logo">
            </a>
          </div>
        </div>

        <div class="collapse navbar-collapse nav-collapse">

          <!--div class="language-switcher">
            <ul class="nav-lang">
                        <li><a class="active" href="#">EN</a></li>
              <li><a href="#">DE</a></li>
            <li><a href="#">FR</a></li>
            </ul>
          </div--> 
          
          <div class="menu-container">
            <ul class="nav navbar-nav navbar-nav-right">
              <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="">Skip to Main Content</a></li>
              {% if not user.is_authenticated %}
              <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="">Login</a></li>
              <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="">Register</a></li>
              {% endif %}
              <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="">Register as a user</a></li>
              <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="">Login</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="container">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>
    </div>

    <div class="carousel-inner " role="listbox">
      <div class="item active">
        <img class="img-responsive" src="{% static 'app/img/03.jpg' %}" alt="Slider Image">
        <div class="container">
          <div class="carousel-centered">
            <div class="margin-b-40">
              <h1 class="carousel-title dd">Incubate your dreams</h1>
              <p class="color-white dd1">Startup and Technical Entrepreneruship Platform Support<br/>Helps high potential startups scale and get discovered by a network of incubators, entrepreneur and other influencers </p>
            </div>
            <a href="" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Register with us</a>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="img-responsive" src="{% static 'app/img/02.jpg' %}" alt="Slider Image">
        <div class="container">
          <div class="carousel-centered">
            <div class="margin-b-40">
              <h2 class="carousel-title">Want incubation? </h2>
              <p class="color-white"> Directly pitch your product to experienced incubators<br/> Better market your products by utilizing the considerable infrastucture that the incubators have to offer</p>
            </div>
            <a href="#" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Register with us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--========== SLIDER ==========-->

  <!--========== PAGE LAYOUT ==========-->
  <!-- About -->
  <div id="about">
    <div class="content-lg container">
      <!-- Masonry Grid -->
      <h1 style="color: #418193;"><center>Jump in. Get moving.<br>Be a part of our journey.</center></h1><br>
      <br>
      <div class="masonry-grid row">
        <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
        <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 sm-margin-b-30">
          <div class="margin-b-60">
            <h2>Be a startup</h2>
            <p>The best way to trigger the growth of an idea requires appropriate care and resistance. Join us and help your idea grow.</p>
          </div>
          <img class="full-width img-responsive wow fadeInUp" src="{% static 'app/img/500x500/01.jpg' %}" alt="Portfolio Image" data-wow-duration=".3" data-wow-delay=".2s">
        </div>
        <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4">
          <div class="margin-b-60">
            <h2>Be an Incubator</h2>
            <p>The best gamble for your seeding is to invest into an innovative idea cum safe future of our nation. Join us and connect with ideas of your interest.</p>  
          </div>
          <img class="full-width img-responsive wow fadeInUp" src="{% static 'app/img/500x500/02.jpg' %}" alt="Portfolio Image" data-wow-duration=".3" data-wow-delay=".3s">
        </div>
        <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4">
          <div class=" margin-b-60">
            <h2>Be a User</h2>
            <p>Pull out your wings because imagination is about to get real. Participate in various events of startups & incubators listed in the feed</p>
          </div>
          <img class="full-width img-responsive wow fadeInUp" src="{% static 'app/img/500x500/03.jpg' %}" alt="Portfolio Image" data-wow-duration=".3" data-wow-delay=".4s">
        </div>
      </div>
      <!-- End Masonry Grid -->
    </div>

    <div id="products">
      <div class="content-lg container">
        <div class="row margin-b-40">
          <div class="col-sm-6">
            <h2>How This Works</h2>

          </div>
        </div>
        <!--// end row -->

        <div class="row">          
          <div class="col-sm-4 sm-margin-b-50">
            <img class="img-responsive" src="{% static 'app/img/Slide1.PNG' %}" alt="Statistic">
          </div>
          <div class="col-sm-4 sm-margin-b-50">
            <img class="img-responsive" src="{% static 'app/img/Slide2.PNG' %}" alt="Statistic">
          </div>
          <div class="col-sm-4 sm-margin-b-50">
            <img class="img-responsive" src="{% static 'app/img/Slide3.PNG' %}" alt="Statistic">
          </div>
        </div>
      </div>
    </div>

    <div class="aboutus">
      <div class="content-lg container">
        <div class="row">
          <div class="col-md-5 col-sm-5 md-margin-b-60">
            <div class="margin-t-50 margin-b-30">
              <h2>About us</h2>
              <p>Based in Bangalore, termed the Silicon Valley of India, S.T.E.P.S helps high-potential start-ups scale and get discovered by a network of incubators, entrepreneurs and a network of other influencers. We’ve guided hundreds of startups in building products and viable business models using our platforms, processes and people and are currently in the third year of our operation connecting startups with incubators that are happy to take them on.</p>
            </div>
            <a href="#" class="btn-theme btn-theme-sm btn-white-bg text-uppercase">More...</a>
          </div>
          <div class="col-md-5 col-sm-7 col-md-offset-2">
            <!-- Accordion -->
            <div class="accordion">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a class="panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        What we provide ? 
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      We aim to provide a platform for fledgling startups to connect with experienced incubators in order to be able to better market their products by utilizing the considerable infrastructure that the incubators have to offer. It also helps the incubators better decide from amongst the vast number of choices that they are presented with so that they can forge a partnership that could be mutually beneficial to both the involved parties. 
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Our vision
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      We are a bunch of sophomores from IIT Roorkee who believe that there are many like us who have brilliant ideas to make this world a better place to live in. We believe that incuatinbg a startup is very similar to raising a baby, requiring a lot of care and assistance to ease the “growing” pains, and hence we provide the best incubators for your fledgling organization
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="collapsed panel-title-child" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Why should you choose us ?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      Well it is simple, this is the only platform till date which directly helps you interact with the incubators and meet the requirements a startup has. If this does not convince you, ask any of our successful 1200 startups which have found the perfect incubators and are well on their way to becoming successful companies in their own right.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Accodrion -->
          </div>
        </div>
        <!--// end row -->
      </div>
    </div>
  </div>
  <!-- End About -->

  <!-- Latest Products -->

  <!-- End Latest Products -->
  <!-- End Work -->

  <!-- Services -->
  <div id="services">
    <div class="bg-color-sky-light" data-auto-height="true">
      <div class="content-lg container">
        <div class="row margin-b-40">
          <div class="col-sm-6">
            <h2>Services</h2>

          </div>
        </div>
        <!--// end row -->

        <div class="row row-space-1 margin-b-2">
          <div class="col-sm-4 sm-margin-b-2">
            <div class="service" data-height="height">
              <div class="service-element">
                <i class="service-icon icon-chemistry"></i>
              </div>
              <div class="service-info">
                <h3>Register a team</h3>
                <p class="margin-b-5">Upload your ideas here.</p>
              </div>
              <a href="#" class="content-wrapper-link"></a>    
            </div>
          </div>
          <div class="col-sm-4 sm-margin-b-2">
            <div class="service bg-color-base" data-height="height">
              <div class="service-element">
                <i class="service-icon color-white icon-screen-tablet"></i>
              </div>
              <div class="service-info">
                <h3 class="color-white">Explore Incubators</h3>
                <p class="color-white margin-b-5">View from the range of diverse oppurtunities</p>
              </div>
              <a href="#" class="content-wrapper-link"></a>    
            </div>
          </div>
          <div class="col-sm-4">
            <div class="service" data-height="height">
              <div class="service-element">
                <i class="service-icon icon-badge"></i>
              </div>
              <div class="service-info">
                <h3>Know more about S.T.E.P.S</h3>
                <p class="margin-b-5">Know about the idea behind S.T.E.P.S</p>
              </div>
              <a href="#" class="content-wrapper-link"></a>    
            </div>
          </div>
        </div>
        <!--// end row -->


        <!--// end row -->
      </div>
    </div>
  </div>


  <!--========== FOOTER ==========-->
  <footer class="footer-distributed">

    <div class="footer-left">


      <h2>STEPS</h2>

      <p class="footer-links">
        <a href="">Home</a>
        ·

        <a href="">Login</a>
        ·
        <a href="">Register</a>
        ·
        <a href="">About</a>
      </p>

    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>IIT Roorkee</span></p>
      </div>

      <div>
        <i class="fa fa-phone"></i>

        <p>+917777777777</p>

      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:yell0wfl4shh@gmail.com">yell0wfl4sh@gmail.com</a></p>
      </div>

    </div>   

    <div class="footer-right">

      <p class="footer-company-about">
        <span>About the company</span>
        S.T.E.P.S is a marketplace for your professional skill-set and ideas
        .An on-demand scalable workit-hub for entrepreneurs, smart-workforce and investors 
      </p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

    </div>

  </footer>
  <!--========== END FOOTER ==========-->
  <!-- Back To Top -->
  <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

</body>

{% endblock content %}
{% block script%}

<!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- chart.js scripts -->
<script type="text/javascript">
  new Chart(document.getElementById("myChart1"), {
    type: 'doughnut',
    data: {
      labels: ["Already Incubated", "To be incubated within 3 months", "Applications in pipeline"],
      datasets: [
      {
        label: "Startup applications on STEPS (percentage)",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
        data: [20,30,50]
      }
      ]
    },
    options: {
      responsive: true,
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Chart.js Doughnut Chart'
      },
      animation: {
        animateScale: true,
        animateRotate: true
      }
    }
  });

  new Chart(document.getElementById("myChart2"), {
    type: 'doughnut',
    data: {
      labels: ["South", "North", "East", "West"],
      datasets: [
      {
        label: "Region wise Business Incubator certified through STEPS (count)",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9"],
        data: [80,40,20,30]
      }
      ]
    },
    options: {
      responsive: true,
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Chart.js Doughnut Chart'
      },
      animation: {
        animateScale: true,
        animateRotate: true
      }
    }
  });

  new Chart(document.getElementById("myChart3"), {
    type: 'doughnut',
    data: {
      labels: ["Normal User", "Registered for Startup", "Registered for Incubator"],
      datasets: [
      {
        label: "Clients served by STEPS (percentage)",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
        data: [15,60,25]
      }
      ]
    },
    options: {
      responsive: true,
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Chart.js Doughnut Chart'
      },
      animation: {
        animateScale: true,
        animateRotate: true
      }
    }
  });
</script>

{% endblock %}
