{% extends 'app/base.html' %}
{% block content %}
{% load static%}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfokcmBFjX0YO4zctNyb4VuYqgHGyyLMo&callback=initMap"
async defer></script>
</div>
<div class="profile">
  <div class="cover-image col-sm-12 generic-back">
  </div>
  <div class="activitybar col-sm-12 ">
    <div class="col-sm-offset-2 page-heading">
      <h3 >Incubated Startups</h3>
    </div>
  </div>
</div>
<div class="profile-info col-sm-offset-1 col-sm-10">

  <div class="row col-sm-12 feed feed-page">
    <div class="newsfeed col-sm-8">

      <h3>Leaderboards</h3>
      <h3>TOP 10</h3>
      {% for i in highest %}
      <div class="newscard">
        <div class="newscard-body col-sm-offset-1">
          <h5 class="newscard-title"> {{i.name}} </h5>
          <p class="newscard-text">{{i.description}}</p>
        </div>
        <div class="view-more col-sm-offset-4" data-toggle="tooltip" title="Know More">
          <i class="material-icons">arrow_drop_down</i>
        </div>
      </div>
      <br>
      {% endfor %}
    </div>
  </div>

</div>
</body>

{% endblock content %}
{% block script%}

<script type="text/javascript">
  var acc = document.getElementsByClassName("newscard");
  var i;
  for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function() {
      var bool=false;
      if (this.classList.contains("newscard-active") == true){
        bool=true;
      }
      for (j = 0; j < acc.length; j++){
        if (acc[j].classList.contains("newscard-active")){
          acc[j].classList.toggle("newscard-active");
          var panelOpen = acc[j].nextElementSibling;
          if (panelOpen.style.maxHeight){
            panelOpen.style.maxHeight = null;
          } else {
            panelOpen.style.maxHeight = panelOpen.scrollHeight + "px";
          }
        }
      }
      var panel = this.nextElementSibling;
      this.classList.toggle("newscard-active");
      if (panel.style.maxHeight){
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
      if (bool == true){
        this.classList.toggle("newscard-active");
        if (panel.style.maxHeight){
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      }
    }
  }
</script>

{{ form.media }}

{% endblock %}
