{% extends 'app/base.html' %}
{% block content %}
{% load static%}
<link href="{% static 'app/css/update_profile.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="{% static 'app/css/leaderboard.css' %}">

</head>
<body>
	<header class="header navbar-fixed-top">
		<nav class="navbar" role="navigation">
			<div class="container">
				<div class="menu-container js_nav-item">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="toggle-icon"></span>
					</button>

					<div class="logo">
						<a class="logo-wrap" href="#body">
							<img class="logo-img logo-img-main" src="{% static 'app/img/logofinal.png' %}" alt="FlameOnePage Logo">
							<img class="logo-img logo-img-active" src="{% static 'app/img/logofinal.png' %}" alt="FlameOnePage Dark Logo">
						</a>
					</div>
				</div>
				<br>

				<div class="collapse navbar-collapse nav-collapse">

          <!--div class="language-switcher">
            <ul class="nav-lang">
                        <li><a class="active" href="#">EN</a></li>
              <li><a href="#">DE</a></li>
            <li><a href="#">FR</a></li>
            </ul>
        </div--> 

        <div class="menu-container">
        	<ul class="nav navbar-nav navbar-nav-right">
        		<li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="">Home</a></li>
        		{% if not request.user.is_authenticated %}
        		<li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="">Compare</a></li>
        		<li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="">Leader Board</a></li>
        		{% endif %}
        		<li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="">Add Event</a></li>
        		<li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="">Logout</a></li>
        	</ul>
        </div>
    </div>
</div>
</nav>
</header>

<div class="form-container" style="display: flex; flex-direction: column; margin-top: 80px;">
 
 <div class="form-style-8 col-sm-6">	
<form method="post" action="" enctype="multipart/form-data" class="ui form">
              {% csrf_token %}
              <div style="text-align:center">
      <h3>Details of the Nominee</h3>
    </div>
    {% for field in form %}
                <div class="field">
      {% for error in field.errors %}
        <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
                  <label for="{{ field.auto_id }}">{{ field.label_tag }}
                </label>
                  {{ field }}
                </div>
              {% endfor %}
              <input type="submit">
</form>
</div>

  <div class="form-style-8 col-sm-6">

<div class="form-container" style="display: flex; flex-direction: column; margin-top: 50px;">
	<div class="form-style-8 col-sm-6">
  		<h2>Contact Info Form</h2>
  		<form>
    	<div class="form-group">
    		<label for="option">Contact Info</label>
    		<select id="type_contact">
    			<option value="Mob">Mobile</option>
    			<option value="Email">Email</option>
    		</select>
  		</div>

      <div class="form-group">
        <label for="option">Contact no.</label>
        <input type="text" class="form-control" id="contact-value">
    </div>

		<div class="form-group">
			<label for="visible">Visibility</label>
    		<select id="visible_info">
    			<option value="Me">Only Me</option>
    			<option value="All">All</option>
    			<option value="INC">Incubator</option>
    			<option value="SU">Start ups</option>
    			<option value="SUT">Start up team</option>
    			<option value="INCT">Incubator Team</option>
  			</select>
  		</div>
  		<button class="btn btn-info contact-btn" type="submit">Submit</button>
	
    	</form>
	</div>

	<div class="form-style-8 col-sm-6">
		<form>
			<h2>Achievements form</h2>
		<div class="form-group">
			<label for="achievment">Achievement title</label>
			<input type="text" class="form-control" id="achievement">
		</div>

		<div class="form-group">
			<label for="achievement-value">desc</label>
			<input type="text" class="form-control" id="achievement-value">
		</div>
		<button class="btn btn-info achievement-btn" type="submit">Submit</button>	
		</form>
	</div>	

	<div class="form-style-8 col-sm-6">
		<form>
			<h2>Social Info form</h2>
		<div class="form-group">
			<label for="visible">Contact Type</label>
    		<select id="social-site">
    			<option value="FB">Facebook</option>
    			<option value="TW">Twitter</option>
    			<option value="IN">Instagram</option>
    			<option value="SC">Snap Chat</option>
    			<option value="LI">Linked in</option>
    			<option value="GH">Github</option>
  			</select>
  		</div>

  		<div class="form-group">
			<label for="visible">Social Visibility</label>
    		<select id="social-visibility">
    			<option value="Me">Only Me</option>
    			<option value="All">All</option>
    			<option value="INC">Incubator</option>
    			<option value="SU">Start ups</option>
    			<option value="SUT">Start up team</option>
    			<option value="INCT">Incubator Team</option>
  			</select>
  		</div>
  		<button class="btn btn-info social-btn" type="submit">Submit</button>
		</form>
	</div>	
</div>	
</body>
{% endblock content %}
{% block script%}

<script>
	$(document).ready(function(){
		$('.contact-btn').click(function(){
			var text1 = $("#type_contact").val();
      var text2 = $("#contact-value")
			var text3 = $('#visible_info').val();
			var args = {'contact-type': text1, 'contact-value':text2 'visiblity':text2};
			$.get("/", args).done(function(data){
				console.log(data);
			});
		});

		$('.achievement-btn').click(function(){
			var text1 = $("#achievement").val();
			var text2 = $('#achievement-value').val();
			var args = {'achievement': text1, 'achievement-value ':text2};
			$.get("/", args).done(function(data){
				console.log(data);
			});
		});

		$('.social-btn').click(function(){
			var text1 = $('#social-site').val();
			var text2 = $('#social-visibility').val();
			var args = {'social-type': text1, 'social_visibility ':text2};
			$.get("/", args).done(function(data){
				console.log(data);
			});
		});

	})
</script>
</html>

{% endblock %}
