<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>S.T.E.P.S.</title>
 	<link rel="stylesheet" type="text/css" href="{% static 'app/css/leaderboard.css' %}">
 	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
 	rel="stylesheet">
 	<link href="{% static 'app/css/font-awesome.min.css' %}" rel="stylesheet">
 	<link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
 	<link href="{% static 'app/css/update_profile.css' %}" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="form-container" style="display: flex; flex-direction: column; margin-top: 50px;">
 
 <div class="form-style-8 col-sm-6">	
<form method="post" action="" enctype="multipart/form-data" class="ui form">
              {% csrf_token %}
              <div style="text-align:center">
      <h3>Details of the Nominee</h3>
    </div>
    {% for field in form %}
                <div class="field">
      {% for error in field.errors %}
        <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
                  <label for="{{ field.auto_id }}">{{ field.label_tag }}
                </label>
                  {{ field }}
                </div>
              {% endfor %}
              <input type="submit">
</form>
</div>

  <div class="form-style-8 col-sm-6">
  		<h2>Contact Info Form</h2>
  		<form>
    	<div class="form-group">
    		<label for="option">Contact Info</label>
    		<select id="type_contact">
    			<option value="Mob">Mobile</option>
    			<option value="Email">Email</option>
    		</select>
  		</div>

      <div class="form-group">
        <label for="option">Contact no.</label>
        <input type="text" class="form-control" id="contact-value">
    </div>

		<div class="form-group">
			<label for="visible">Visibility</label>
    		<select id="visible_info">
    			<option value="Me">Only Me</option>
    			<option value="All">All</option>
    			<option value="INC">Incubator</option>
    			<option value="SU">Start ups</option>
    			<option value="SUT">Start up team</option>
    			<option value="INCT">Incubator Team</option>
  			</select>
  		</div>
  		<button class="btn btn-info contact-btn" type="submit">Submit</button>
	
    	</form>
	</div>

	<div class="form-style-8 col-sm-6">
		<form>
			<h2>Achievements form</h2>
		<div class="form-group">
			<label for="achievment">Achievement title</label>
			<input type="text" class="form-control" id="achievement">
		</div>

		<div class="form-group">
			<label for="achievement-value">desc</label>
			<input type="text" class="form-control" id="achievement-value">
		</div>
		<button class="btn btn-info achievement-btn" type="submit">Submit</button>	
		</form>
	</div>	

	<div class="form-style-8 col-sm-6">
		<form>
			<h2>Social Info form</h2>
		<div class="form-group">
			<label for="visible">Contact Type</label>
    		<select id="social-site">
    			<option value="FB">Facebook</option>
    			<option value="TW">Twitter</option>
    			<option value="IN">Instagram</option>
    			<option value="SC">Snap Chat</option>
    			<option value="LI">Linked in</option>
    			<option value="GH">Github</option>
  			</select>
  		</div>

  		<div class="form-group">
			<label for="visible">Social Visibility</label>
    		<select id="social-visibility">
    			<option value="Me">Only Me</option>
    			<option value="All">All</option>
    			<option value="INC">Incubator</option>
    			<option value="SU">Start ups</option>
    			<option value="SUT">Start up team</option>
    			<option value="INCT">Incubator Team</option>
  			</select>
  		</div>
  		<button class="btn btn-info social-btn" type="submit">Submit</button>
		</form>
	</div>	
</div>	
</body>

<script>
	$(document).ready(function(){
		$('.contact-btn').click(function(){
			var text1 = $("#type_contact").val();
      var text2 = $("#contact-value")
			var text3 = $('#visible_info').val();
			var args = {'contact-type': text1, 'contact-value':text2 'visiblity':text2};
			$.get("/", args).done(function(data){
				console.log(data);
			});
		});

		$('.achievement-btn').click(function(){
			var text1 = $("#achievement").val();
			var text2 = $('#achievement-value').val();
			var args = {'achievement': text1, 'achievement-value ':text2};
			$.get("/", args).done(function(data){
				console.log(data);
			});
		});

		$('.social-btn').click(function(){
			var text1 = $('#social-site').val();
			var text2 = $('#social-visibility').val();
			var args = {'social-type': text1, 'social_visibility ':text2};
			$.get("/", args).done(function(data){
				console.log(data);
			});
		});

	})
</script>
</html>
