{% extends 'app/base.html' %}
{% block content %}
{% load static%}

<style>
.leaderboard{
  display: inline-block;
  margin-top: 60px;
  margin-left: 40%;
}
</style>

<main>
  <div class="profile">
    <div class="cover-image col-sm-12" style="background-image: none;background-color: #ff6161;height: 300px;">
    </div>
    <div class="activitybar col-sm-12 ">
      <div class="col-sm-offset-2 page-heading">
        <h3 >Incubated Startups</h3>
      </div>
    </div>
  </div>


  <div class="leaderboard centered" >

    <header class="leaderboard-header">
      <div class="icon">
      </div>
      <div class="title">
        <h3>Search Results</h3>
      </div>
    </header>
    <div class="leaderboard-body">
      <ul>
        {% for inc in profile %}
        <li><a href="/profile/{{inc.user.username}}">{{inc.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</main>
</body>
{% endblock content %}
