{% extends 'app/base.html' %}
{% block content %}
{% load static%}
<style>
.compare-container{
    display: inline-table;
    margin-top: 60px;
    margin-left: 40%;
}
</style>
<div class="profile">
  <div class="cover-image col-sm-12" style="background-image: none;background-color: #ff6161;height: 300px;">
  </div>
  <div class="activitybar col-sm-12 ">
    <div class="col-sm-offset-2 page-heading">
      <h3 >Incubated Startups</h3>
    </div>
  </div>
</div>

  <div class="compare-container">
    <div class="header-container">	
      <h2> Search</h2>
      <div class="comparator_name"">
        <form method="GET" action="/search/incubators">
         <input type="text" placeholder="name" name="q">
         <button type="submit">search</button>
       </div>
     </div>
   </form>
 </div>
</body>
{% endblock %}
