{% extends 'app/base.html' %}
{% block content %}
{% load static%}


<style type="text/css">
	
	.info-startup{
		display: inline-flex !important;
		justify-content: space-between !important;
		margin-top: 50px;
	}

	.incubated{
		width: 400px;
	}
	.info{
		width: 400px;
	}
	.about-startup{
		width: 500px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.about-input{
		width: 350px;
		margin-bottom: 20px;
	}
</style>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfokcmBFjX0YO4zctNyb4VuYqgHGyyLMo&callback=initMap"
    async defer></script>
 
<div class="overlay-toggle">
	<div class="message-container">
		<h3 style="color: white;">Send a message</h3>
	    <div class="row">
			<div class="col-sm-4 col-md-4">
	            <div class="panel panel-default">
	                <div class="panel-body">                
	                    <form accept-charset="UTF-8" action="" method="POST">
	                        <textarea class="form-control counted" name="message" placeholder="Type in your message" rows="5" style="margin-bottom:10px;"></textarea>
	                        <button class="btn btn-info" type="submit">Post New Message</button>
	                    </form>
	                </div>
	            </div>
	        </div>
		</div>
	</div>

	<div class="contact-container">
		<h3 style="color: white;">Contact StartUp Name</h3>
		<div class="row">
			<div class="col-sm-8">
				<div class="panel panel-default">
					<div class="panel-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<textarea class="form-control counted" name="message" placeholder="Send a greeting" rows="5" style="margin-bottom:10px;"></textarea>
	                    <button class="btn btn-info" type="submit">Connect</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="overlay"></div>
</div>
<div class="profile">
	<div class="cover-image col-sm-12">
	</div>
	<div class="profile-image col-sm-offset-1">
	</div>
	<div class="activitybar col-sm-12 ">
		<ul class="list-inline activitybar-links col-sm-offset-3">
			<li><a href="#">Members</a></li>
			<li><a href="#">Fundings</a></li>
			<li><a href="#">Activities</a></li>
		</ul>
	</div>
</div>
<div class="profile-info col-sm-12">
	<h2 class="col-sm-offset-1">{{profile.name}}</h2>
	<p class="col-sm-10 col-sm-offset-1">
		{{ profile.description }}
	</p>

<div class="info-startup">
	<div class="col-sm-3 incubated ">
		<h3 >Incubator</h3>
		{% for incubator in profile.incubators.all %}
		<div class="newscard">
			<div class="newscard-body col-sm-offset-1">
				<h5 class="newscard-title">{{incubator.name}}</h5>
				<div>
					<button class="btn-startup btn-message">Message</button>
					<button class="btn-startup btn-activity">View activites</button>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

<hr>

		<div class="about-startup">
			<h3>About {{profile.name}}</h3>
			<input type="text" placeholder="Add about YourSelf" class="about-input">
			<p class="col-sm-10 col-sm-offset-1">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<br>
			<p class="col-sm-10 col-sm-offset-1">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<br>
			<p class="col-sm-10 col-sm-offset-1">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>

		</div>
		
		<div class="info col-sm-4">
			<div>
				<h3 class="head-startup">Recommended Incubators for you : </h3>
				<div class="search_startups">
					<input type="input" placeholder="Search for startups">
				</div>
				<ul>
					{% for incubator in recommended %}
					<li class="startup-list startup_list-items">
						<div class="startup-logo"></div>
						<p class="col-sm-offset-1"> {{incubator.name}}</p>
						<button class="col-sm-offset-3 btn-contact">Contact</button>
					</li>
					{% endfor %}
					<li class="search-startups"><p>Search for Incubators</p></li>
				</ul>
			</div>
			<br>
			<div>
				<div class="incubator-members" style="display: flex; justify-content: space-between;">
					<h3>Members</h3>
					<div class="add-members btn-add_members" style="cursor: pointer;" data-toggle="tooltip" title="Add Members">
						<i class="material-icons add_members">add_circle</i>
					</div>
				</div>
				<ul>
					{% for member in profile.members.all %}
					<li class="startup-list">
						<div class="startup-logo"></div>
						<p class="col-sm-offset-1">{{member.username}}</p>
					</li>
					{% endfor %}
					<li class="search-startups"><p>View More...</p></li>
				</ul>
				
				<div class="add_member-container">
					<h3 style="color: white;">Add member</h3>
					<div class="row">
						<div class="col-sm-8">
							<div class="panel panel-default">
								<div class="panel-body">
									<p>Add a member to you organisation</p>
									<form action="{% url 'app:startup_member_add' %}" method="post">
        								{% csrf_token %}
        								{{ form.as_p }}
        								<input type="submit" />
    								</form>
								</div>
							</div>
						</div>				
					</div>
				</div>

			</div>
		</div>
</div>		
	</div>

</div>
<h3 class="col-sm-offset-2">Incubators near you :</h3>
<div id="map" class="col-sm-8 col-sm-offset-2"></div>
</body>
{% endblock content %}
{% block script%}
 
<script>
	var map;
	function initMap() {
		myLatLng = {lat:20.2255431, lng: 85.74091600000001};
		map = new google.maps.Map(document.getElementById('map'), {
			center: myLatLng,
			zoom: 8,
			disableDefaultUI: true,
			zoomControl: true
		});

		var marker = new google.maps.Marker({
			position: myLatLng,
			map: map,
			title: 'You are here'
		});
	}
</script>

{{ form.media }}
  <script>
	  $(document).ready(function(){
			// show message box
			$('.btn-message').click(function(){
				$('.overlay-toggle').show();
				$('.message-container').show();
			});

			// show activity box
			$('.btn-activity').click(function(){
				$('.overlay-toggle').show();
			});

			// connect with box
			$('.btn-contact').click(function(){
				$('.overlay-toggle').show();
				$('.contact-container').show();
			});

			// add members
			$('.btn-add_members').click(function(){
				$('.add_member-container').toggle();
			});

			// hide overlay
			$('.overlay').click(function(){
				$('.overlay-toggle').hide();
				$('.message-container').hide();
				$('.event-container').hide();
				$('.contact-container').hide();
			});
		});
  </script>
{% endblock %}
